.Page {
	COLOR: black; BACKGROUND-COLOR: #ffffff
}
.HeaderTt {
	BACKGROUND-IMAGE: url(../images/headerBack.jpg); BACKGROUND-REPEAT: repeat
}
.bodyTable {
	BORDER-RIGHT: #565454 1px solid; BORDER-TOP: #565454 1px solid; BORDER-LEFT: #565454 1px solid; BORDER-BOTTOM: #565454 1px solid; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
.Header {
	BACKGROUND-COLOR: #ffffff
}
.mainTD {
	BACKGROUND-IMAGE: url(../images/left-shadow.jpg); VERTICAL-ALIGN: top; WIDTH: 2px; BACKGROUND-REPEAT: repeat-y; BACKGROUND-COLOR: transparent
}
.HeaderTop {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/logo-back.gif); COLOR: #ffffff; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.HeaderMiddle {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: black; FONT-STYLE: normal; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center
}
.HeaderBottom {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/logo-back.gif); COLOR: #ffffff; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.HeaderBottomHigh {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND-IMAGE: url(../images/tab.gif); COLOR: #ffffff; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; HEIGHT: 25px
}
.Body {
	BACKGROUND-IMAGE: url(../images/bg_body.jpg); MARGIN: 0px; COLOR: #000000; BACKGROUND-REPEAT: repeat; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.BodyTable {
	COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.MainMenu {
	FONT-SIZE: 11px; BACKGROUND-IMAGE: url(../images/left-module-bg.gif); VERTICAL-ALIGN: top; COLOR: black; BACKGROUND-REPEAT: repeat; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #faedf2; TEXT-DECORATION: none
}
.MainMenuTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; BACKGROUND-IMAGE: url(../images/mainmenu_bg.png); PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; TEXT-TRANSFORM: uppercase; COLOR: #000000; PADDING-TOP: 2px; FONT-FAMILY: Tahoma, Verdana,Arial, Helvetica, sans-serif; HEIGHT: 30px; TEXT-ALIGN: center
}
.MessageTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; COLOR: white; PADDING-TOP: 2px; FONT-FAMILY: Tahoma, Verdana,Arial, Helvetica, sans-serif; HEIGHT: 15px; BACKGROUND-COLOR: #000000
}
.MessageTitleRed {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: middle; COLOR: red; PADDING-TOP: 2px; FONT-FAMILY: Tahoma, Verdana,Arial, Helvetica, sans-serif; HEIGHT: 15px; BACKGROUND-COLOR: #ffffff
}
.MainMenu-mouseover {
	COLOR: #ffffff; FONT-STYLE: italic; BACKGROUND-COLOR: #e0ebed; TEXT-DECORATION: none
}
.menuCell {
	
}
.MainMenu-mouseout {
	COLOR: #000000; TEXT-DECORATION: none
}
.MainMenu-selected {
	FONT-WEIGHT: bold; COLOR: #000000; TEXT-DECORATION: none
}
.MainMenu-invisible {
	COLOR: #000000; TEXT-DECORATION: none
}
.menuNode {
	COLOR: #000000; FONT-FAMILY: Tahoma, Verdana,Arial, Helvetica, sans-serif; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.Content {
	FONT-SIZE: 14px; BACKGROUND-IMAGE: url(../images/content.gif); COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.ContentTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 16px; COLOR: #000000; FONT-FAMILY: Arial, Helvetica, sans-serif; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center
}
.ContentSubTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif; BACKGROUND-COLOR: transparent; TEXT-ALIGN: center
}
.Footer1 {
	FONT-SIZE: 9px; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #f5f5f5
}
.Footer2 {
	FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(../images/tab.gif); COLOR: #ffffff; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; HEIGHT: 25px
}
.Footer {
	FONT-SIZE: 8pt; BACKGROUND-IMAGE: url(../images/footer.jpg); COLOR: #ffffff; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; HEIGHT: 25px
}
.Footer3 {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.Table {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 10px; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
.TableInner {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 10px; BORDER-LEFT: black 1px solid; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
.TableNoBorder {
	BORDER-RIGHT: 0px solid; BORDER-TOP: 0px solid; FONT-SIZE: 10px; BORDER-LEFT: 0px solid; BORDER-BOTTOM: 0px solid; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; BACKGROUND-COLOR: #ffffff
}
.TableCell {
	BORDER-RIGHT: silver 0px solid; BORDER-TOP: silver 1px solid; FONT-SIZE: 11px; BORDER-LEFT: silver 0px solid; COLOR: #000000; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px
}
.TableCell12px {
	BORDER-RIGHT: silver 0px solid; BORDER-TOP: silver 1px solid; FONT-SIZE: 12px; BORDER-LEFT: silver 0px solid; COLOR: #000000; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px
}
.TableCellBold {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: silver 1px solid; COLOR: #000000; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px; TEXT-ALIGN: center
}
.evenTD {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; FONT-SIZE: 11px; BORDER-LEFT: silver 1px solid; COLOR: #000000; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px; BACKGROUND-COLOR: #f5f5f5; TEXT-ALIGN: center
}
.evenTDNoBorderLeft {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; FONT-SIZE: 11px; BORDER-LEFT: silver 0px solid; COLOR: #000000; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px; BACKGROUND-COLOR: #f5f5f5; TEXT-ALIGN: center
}
.evenTDNoBorderRight {
	BORDER-RIGHT: silver 0px solid; BORDER-TOP: silver 1px solid; FONT-SIZE: 11px; BORDER-LEFT: silver 1px solid; COLOR: #000000; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px; BACKGROUND-COLOR: #f5f5f5; TEXT-ALIGN: center
}
.evenTDNoAlign {
	BORDER-RIGHT: silver 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: silver 1px solid; PADDING-LEFT: 10px; FONT-SIZE: 11px; BORDER-LEFT: silver 1px solid; COLOR: #000000; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px; BACKGROUND-COLOR: #f5f5f5
}
.SilverTD {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; FONT-SIZE: 13px; BORDER-LEFT: silver 1px solid; COLOR: #000000; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px; BACKGROUND-COLOR: #c0c0c0; TEXT-ALIGN: center
}
.MessageTitleOrange {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: silver 1px solid; COLOR: #000000; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px; BACKGROUND-COLOR: #f9dd87; TEXT-ALIGN: center
}
.OddTD {
	BORDER-RIGHT: silver 1px solid; BORDER-TOP: silver 1px solid; FONT-SIZE: 11px; BORDER-LEFT: silver 1px solid; COLOR: #000000; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px; TEXT-ALIGN: center
}
.TableCellLast {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: black 1px solid; FONT-SIZE: 11px; BORDER-LEFT: black 0px solid; COLOR: #000000; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px
}
.TableCellLastOdd {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: black 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: black 0px solid; COLOR: #000000; BORDER-BOTTOM: black 1px solid; BORDER-COLLAPSE: collapse; HEIGHT: 25px; BACKGROUND-COLOR: #f5f5f5
}
.TableCellRed {
	BORDER-RIGHT: silver 0px solid; BORDER-TOP: silver 1px solid; FONT-WEIGHT: normal; FONT-SIZE: 11px; BORDER-LEFT: silver 0px solid; COLOR: red; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px
}
.TableCell2 {
	BORDER-RIGHT: silver 0px solid; BORDER-TOP: silver 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 11px; BORDER-LEFT: silver 0px solid; COLOR: #000000; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px; BACKGROUND-COLOR: #f9dd87
}
.TableCell2Big {
	BORDER-RIGHT: silver 0px solid; BORDER-TOP: silver 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: silver 0px solid; COLOR: #000000; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px; BACKGROUND-COLOR: #f9dd87
}
.TableCell3 {
	BORDER-RIGHT: silver 0px solid; BORDER-TOP: silver 1px solid; PADDING-LEFT: 12px; FONT-SIZE: 11px; MARGIN-LEFT: 10px; BORDER-LEFT: silver 0px solid; COLOR: #000000; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px; BACKGROUND-COLOR: #ffffff
}
.TableCell3Last {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: black 1px solid; PADDING-LEFT: 12px; FONT-SIZE: 11px; MARGIN-LEFT: 10px; BORDER-LEFT: black 0px solid; COLOR: #000000; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px; BACKGROUND-COLOR: #ffffff
}
.TableCell3LastOdd {
	BORDER-RIGHT: black 0px solid; BORDER-TOP: black 1px solid; PADDING-LEFT: 12px; FONT-SIZE: 11px; MARGIN-LEFT: 10px; BORDER-LEFT: black 0px solid; COLOR: #000000; BORDER-BOTTOM: black 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px; BACKGROUND-COLOR: #f5f5f5
}
.TableCellOdd {
	BORDER-RIGHT: silver 0px solid; BORDER-TOP: silver 1px solid; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-LEFT: 10px; BORDER-LEFT: silver 0px solid; COLOR: #000000; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px; BACKGROUND-COLOR: #f5f5f5
}
.TableCell3Odd {
	BORDER-RIGHT: silver 0px solid; BORDER-TOP: silver 1px solid; PADDING-LEFT: 12px; FONT-SIZE: 11px; MARGIN-LEFT: 10px; BORDER-LEFT: silver 0px solid; COLOR: #000000; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px; BACKGROUND-COLOR: #f5f5f5
}
.TableCell3Even {
	BORDER-RIGHT: silver 0px solid; BORDER-TOP: silver 1px solid; PADDING-LEFT: 12px; FONT-SIZE: 11px; MARGIN-LEFT: 10px; BORDER-LEFT: silver 0px solid; COLOR: #000000; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px; BACKGROUND-COLOR: #ffffff
}
.TableCellEven {
	BORDER-RIGHT: silver 0px solid; BORDER-TOP: silver 1px solid; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 11px; MARGIN-LEFT: 10px; BORDER-LEFT: silver 0px solid; COLOR: #000000; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse; HEIGHT: 25px; BACKGROUND-COLOR: #ffffff
}
.TableTitle {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.TableTitleBig {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.tableHeader {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND-IMAGE: url(../images/mainmenu_bg.png); COLOR: #000000; BACKGROUND-REPEAT: repeat-x; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; HEIGHT: 30px
}
.tableHeaderHigh {
	FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND-IMAGE: url(../images/mainmenu_bg.png); COLOR: #000000; BACKGROUND-REPEAT: repeat; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif; HEIGHT: 40px
}
.tableLineHeading {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: black; FONT-FAMILY: Tahoma, Verdana, Arial, Helvetica, sans-serif
}
.TableInfo {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.Tablefragmenttitle {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000000; FONT-FAMILY: Tahoma,Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.TableNote {
	FONT-SIZE: 10px; COLOR: #808080; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #ffffff
}
.TableEmptyFieldsMsg {
	FONT-SIZE: 12px; COLOR: red; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif
}
.TableControlsTitle {
	BORDER-RIGHT: silver 0px solid; BORDER-TOP: silver 1px solid; FONT-SIZE: 11px; BORDER-LEFT: silver 0px solid; COLOR: #000000; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse
}
.TableControlsTitleRequired {
	BORDER-RIGHT: silver 0px solid; BORDER-TOP: silver 1px solid; FONT-SIZE: 11px; BORDER-LEFT: silver 0px solid; COLOR: red; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse
}
.Form {
	TEXT-ALIGN: center
}
UL.bullet_list1 {
	FONT-FAMILY: Tahoma, Arial, Helvetica, sans-serif; LIST-STYLE-TYPE: disc
}
.error {
	COLOR: #ff0000
}
.important {
	FONT-WEIGHT: bold
}
.strong {
	FONT-WEIGHT: bold
}
.ResultSuccess {
	FONT-WEIGHT: bold
}
.ResultFailure {
	COLOR: #ff0000
}
.button {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; WIDTH: 180px; FONT-FAMILY: Tahoma,Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px
}
.SuccessMessage {
	BORDER-RIGHT: silver 0px solid; BORDER-TOP: silver 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: silver 0px solid; COLOR: navy; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma,Verdana, Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse
}
.FailMessage {
	BORDER-RIGHT: silver 0px solid; BORDER-TOP: silver 1px solid; FONT-WEIGHT: bold; FONT-SIZE: 12px; BORDER-LEFT: silver 0px solid; COLOR: navy; BORDER-BOTTOM: silver 1px solid; FONT-FAMILY: Tahoma,Verdana, Arial, Helvetica, sans-serif; BORDER-COLLAPSE: collapse
}
.buttonNew {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; WIDTH: 150px; FONT-FAMILY: Tahoma,Verdana, Arial, Helvetica, sans-serif; HEIGHT: 25px
}
.buttonLarge {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; WIDTH: 200px; FONT-FAMILY: Tahoma,Verdana, Arial, Helvetica, sans-serif; HEIGHT: 20px
}
.calendarButton {
	BACKGROUND-IMAGE: url(../images/navbar.png)
}
.imageButton {
	VERTICAL-ALIGN: bottom; CURSOR: pointer
}
.normalInput {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Tahoma,Verdana, Arial, Helvetica, sans-serif
}
.uppercaseInput {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; TEXT-TRANSFORM: uppercase; FONT-FAMILY: Tahoma,Verdana, Arial, Helvetica, sans-serif
}
.combo {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; FONT-FAMILY: Tahoma,Verdana, Arial, Helvetica, sans-serif
}
